* {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.timeline {
    padding: 30px 10px;
}

.lb-center .label{
    text-align: center;
}

.lb-center .progress .line {
    background-color: orange;
}

.completed .circle {
    background-color: green;
    border-color: green;
}

.completed .line {
    background-color: green;
}

.progress .circle{
    background-color: orange;
    border-color: orange;
}

.lb-bottom .label{
    top: 20px;
}

.line_block { 
    margin-bottom: 30px; 
    display:table;
    table-layout: fixed; 
    width: 100%;
    margin-top: 60px;
}

#timeline_first .line_block {
    margin-top: 10px;
}

.line_block__item {
    display: table-cell;
    width: 100%; 
    position: relative;
}

.line_block__item:first-child {
    text-align: left;
}

.lb-center li:nth-last-child(-n+2) {
    width: 100%;
    text-align: left;
}

.line_block__item:last-child .label {
    right: 0;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #cecece;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.line {
    height: 2px;
    background-color: #cecece;
    display: inline-block;
    position: absolute;
    margin-left: 2px;
    margin-right: 2px;
    bottom: 9px;
    left: 0px;
    right: 0;
    max-width: 100%;
    margin-left: 14px;
    margin-right: 3px;
}

.label {
    position: absolute;
    top: -20px;
    width: 100%;
    font-size: 14px;
    color: gray;
    min-width: 100px;
}

.line_block:not(.lb-center) .line_block__item .label,
.line_block:not(.lb-center) .line_block__item .label {
    min-width: auto;
    width: auto;
    transform: translateX(-35%);
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.line_block:not(.lb-center) .line_block__item:first-child .label {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.line_block li:last-child {
    width: 12px;
}

.lb-center li:last-child {
    display: table-cell;
    width: 100%;
}

.lb-center li:last-child::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #cecece;
    display: inline-block;
    right: 0;
    top: 2px;
    bottom: 0;
    z-index: 10;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.lb-center li:last-child .line{
    margin-right: 14px;
}

.button {
    border: 1px solid gray;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.button:hover {
    background-color: orange;
    border-color: orange;
    color: #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.button:active {
    background-color: green;
    border-color: green;
}

.button:last-child {
    margin-right: 0;
}